body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .calculator {
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Agregamos esta línea */
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d3d3d3;
  }

  @media (max-width: 480px) {
    .calculator {
      font-size: 16px;
    }
  }